<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hero Details</title>
</head>
<body>
    <h1>
        Hero Details
    </h1>
    <ul>
        <li>Name: {{a_hero.name}}</li>
        <li>Alter Ego: {{a_hero.alter_ego}}</li>
        <li>Primary Ability: {{a_hero.primary_superhero_ability}}</li>
        <li>Secondary Ability: {{a_hero.secondary_superhero_ability}}</li>
        <li>Catchphrase: {{a_hero.catchphrase}}</li>
            
            
        
    </ul>
</body>
</html>